/airflow/.env
/airflow/airflow.sh
airflow/logs/
airflow/data/


dbt/dbt-env/

redash/.venv
redash/venv/
redash/.cache
redash/.coverage.*
redash/.coveralls.yml
redash/.idea
redash/*.pyc
redash/.nyc_output
redash/coverage
redash/.coverage
redash/coverage.xml
redash/client/dist
redash/.DS_Store
redash/.#*
redash/\#*#
redash/*~
redash/_build
redash/.vscode
redash/.env

redash/dump.rdb

redash/node_modules
redash/.tmp
redash/.sass-cache
redash/npm-debug.log

redash/client/cypress/screenshots
redash/client/cypress/videos
